* {
	overflow: hidden;
}

Button {
	height: 3;
	width: 100%;
}

Center {
	height: 3;
	margin: 0;
	padding: 0;
	padding-top: -1;
}

#buttons_wrapper {
	layout: grid;
	grid-size: 3;
	grid-gutter: 1;
	margin: 0;
	padding: 0;
	width: 65;
}
