**/*.override.yml
*.pyc
/*.egg-info/
/.coverage
/.python-version
/build/
/data/*.toml
/data/ssh_host_key*
/db/
/html/
/run/logs/*.log*
__pycache__/
node_modules/

# exclusions
!/data/config.example.toml
