__pycache__/
*.pyc
**/*.override.yml
/.coverage
/.mypy_cache/
/.pytest_cache/
/.python-version
/*.egg-info/
/build/
/data/*.toml
/data/ssh_host_key*
/db/
/html/
/run/logs/*.log*
coverage.xml
node_modules/

# exclusions
!/data/config.example.toml
