repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        args: [check, --target-version, py311, --fix, --show-fixes]
        entry: ruff
        language: system
        types: [python]
        require_serial: true
      - id: black
        name: black
        args: [-t, py311]
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: prettier
        name: prettier
        args: [prettier, -u, -c, -w]
        entry: npx
        exclude: \.py$
        language: system
        types: [text]
        require_serial: true
